<div nz-row style="padding: 10px;">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }"  style="padding: 10px">
        <app-tran-entry 
            drawerPosition="right"
            (ledgerBalanceDrawer)="openBalanceDrawer($event)" 
            (ledgerDrawer)="openLedgerDrawer($event)">
        </app-tran-entry>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }"  style="padding: 10px">
        <app-tran-transfer 
            drawerPosition="left"
            (ledgerBalanceDrawer)="openBalanceDrawer($event)" 
            (ledgerDrawer)="openLedgerDrawer($event)">
        </app-tran-transfer>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }"  style="padding: 10px">
        <app-tran-list></app-tran-list>
    </div>
</div>
<app-ledger-entry [drawerVisible]="ledgerDrawerVisible" (drawerStatus)="closeLedgerDrawer($event)"></app-ledger-entry>
<app-ledger-balance-drawer [position]="position" [drawerVisible]="balanceDrawerVisible" (drawerStatus)="closeBalanceDrawer($event)"></app-ledger-balance-drawer>
